<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
  mybatis的第二种事件方式
    xml + 接口的方式
      特点：xml中的namespace必须为接口的全路径
        xml中的每个节点的id必须为接口的方法名

-->

<mapper namespace="cn.lcd.ResumeDao">
    <select id="findResuemByUserName" resultType="tb_intention">
        select y.* from tb_user u
            inner join tb_user_intention b on u.user_id = b.user_id
            inner join tb_intention y on b.intention_id = y.intention_id
            where u.user_id = #{user_id}
    </select>
</mapper>